<div id="countdown-section">
  <div class="time-section days">
    <h3></h3>
    <p>days</p>
  </div>

  <div class="divider"></div>

  <div class="time-section hours">
    <h3></h3>
    <p>hours</p>
  </div>

  <div class="divider"></div>

  <div class="time-section minutes">
    <h3></h3>
    <p>minutes</p>
  </div>

  <div class="divider"></div>

  <div class="time-section seconds">
    <h3></h3>
    <p>seconds</p>
  </div>
</div>

<script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/moment.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/countdown.js.min"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/main_countdown.js"></script>
