<div id="mc_embed_signup">
  <form action="https://twitter.us13.list-manage.com/subscribe/post?u=95deb8918ac18b0f258aab7f8&amp;id=378500e72d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  	    <label for="mce-EMAIL">signup to stay in the know :)</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div aria-hidden="true" style="display:none;"><input type="text" name="b_95deb8918ac18b0f258aab7f8_378500e72d" tabindex="-1" value=""></div>

        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
  </form>
</div>
